@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

.dark {
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
  --foreground-rgb: 237, 237, 237;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Force hide desktop controls on mobile */
@media (max-width: 1023px) {
  .desktop-controls {
    display: none !important;
  }
}
